@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,400&display=swap');

/*========== Media vista cel *================*/
@media (max-width: 767.98px) { 
    header{padding:0 20px;}
    .navbar-nav{border:1px solid white;margin-top:10px;}
    .navbar-nav li{border: 1px solid #fff;}
    h1.principal{font-size:0.2em !important;font-size: 1.5em !important;padding-bottom: 10px;font-weight: bolder;}
    /*Seleccionando la imagen por el atributo Alt*/
    img[alt="Cervezas"]{margin:10px 0px;}
    img[alt="instagram"]{width: 55px !important;height: 55px!important;}
    .col-promo{width: 100% !important;margin:10px 0px!important;}
    #formulario{padding:10px 0;}
    .copy{padding:20px 0;}
    body > header > div > nav > div{margin:0!important;}
 }
 @media (min-width: 992px){
    .navbar-expand-lg .navbar-collapse{justify-content: space-around!important;}
    .navbar-brand{display: none;}
}
 
*{padding: 0;margin: 0;}
.container-fluid{padding-right: 0 !important;padding-left: 0 !important;}
/*==========Header===============*/
header{
    background-color: rgb(255, 196, 1);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

}

ul li{
    display: inline-block;
}
li{
    list-style-type: none;
} 

a{
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 1.2em;
    font-family: sans-serif !important;
}
.navbar{text-align: center !important;height: 15vh; padding-left: 10%;z-index: 99999;background-color: rgb(255, 196, 1) !important;}
.navbar-nav {background: rgb(255, 196, 1) !important;}
/***********************************************************/
h1,h2,h3,h4,h5,p,a,li{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: rgb(248, 208, 98);
}
main{
    padding: 10px;
    margin: auto auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
 main > div:nth-child(1){background-color: rgb(118, 43, 192)!important;padding:20px;}
.flexContainer{
    width: 85% ;
    margin: auto auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;}
/*Iframe del inicio del home*/
.flexContainer > iframe{width: 100%;}

.img-responsive{width: 100%;}
/*clases para el ancho de columnas
.col-2{width: 18}
.col-3{width: 33%; float:left;}
.col-4{width: 25%}
.col-5{width: 50%}
.col-6{width: 50%;}
.col-8{width: 78%;}
.col-12{width: 100%;}*/
/*Estil título promo*/
h1.principal{text-align:center; font-size:2em;padding:20px 0px;}
/*Estilos  centrados*/
.center{text-align: center;}
/*Margin top y bottom*/
.mtb{margin: auto !important;}
/*Margin derecho e izquierdo*/
.mdi{margin:0px 10px}
/*Estilos de columna destacada*/
.dest,.promocion-cervecera{
    background: #ddd;
    border: 1px solid #000;
    border-radius: 0px 30px 0px 30px;
    margin: 20px 0px 20px 0px;
    padding: 20px;
   
}
div.container.dest > div.row.align-items-start > div:nth-child(2) {margin:auto}
/*Estilos columna de texto de la promo*/
div.dest > div:nth-child(3) >p {padding: 0px 15px;font-size: 1.3em;
    text-align: justify;}
/*main > div:nth-child(3){justify-content: space-between;}*/
.row{    justify-content: flex-end !important;
    align-content: center!important;}
/*contenido de las promos*/
.contenido {
    margin: 30px 0px;
    padding: 0px 20px;
}
.col-promo {
    background: #fff;
    width:32.3%;
    margin:0px 5px;
    padding: 10px;
    border-radius: 10px;
    border: 2px dotted #000;
}
/*Filas destacadas páginas internas*/
.dest-row{background: #ddd;border:1px solid #000; border-radius: 10px; padding:10px; flex-wrap: nowrap !important; margin-top:30px;}
/*Pie de página*/
footer{display: flex;width:100%;background:#eee;flex-direction: column;}
footer .flexContainer{padding:0px 30px;}
footer iframe{padding:20px;width: 100%;}
input{display: block;width: 80%;}
input[type=text],input[type=email]{
    height: 30px;
    text-align: center;
    margin-bottom: 10px;
    border: 0px;
    border-bottom: 1px solid #000;
    background: transparent;
    font-weight: bold;width: 100%;}
input[type=submit]{margin-top:20px;padding:10px 0px;background:#000;color:#fff;border:1px solid #fff;width: 100%!important;}
input[type=submit]:hover{background:#fff;color:#000;border:1px solid #000}
.copy{background: #555;color:#fff;text-align: center;clear:both;}
.info-footer{color:#fff;}
.img-footer{width: 60px;height:60px; color:#fff;}
.contacto{background:#ddd !important;}
.centrar-elementos{align-items: center; display: flex;
    flex-wrap: wrap;
    justify-content: space-between;}
    .mt{padding-top: 10%;}